<nav class="navbar navbar-expand-lg navbar-dark bg-dark"> 
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <a class="navbar-brand" href="#"><!-- texto --></a>
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/sobre">Sobre</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/tutoriais">Tutoriais</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-ous
            tline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav>
<div class="container">
    <div class="row">
        <div class="col col-lg-10">&nbsp;</div>
    </div>
        
            <div class="row">
                <div class="col col-lg-4">   
                    <h2>Controle de Tutoriais</h2>
                </div>
                <div class="col col-lg-8 text-right"> 
                <a href="/formularioAdicionarTutorial" class="btn btn-sm btn-primary"><i class="fa fa-plus"></i> Adicionar </a>
                <a class="btn btn-default" href="/listarTutorial"><i class="fa fa-refresh"></i> Atualizar</a>
                </div>
            </div>
        <div class="row justify-content-lg-center">
          {{#if tutoriais}}        
            <div class="col col-lg-12"> 
                <table class="table table-hover">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">TITULO</th>
                    <th scope="col">AUTOR</th>
                    <th scope="col">CATEGORIA</th>
                    <th scope="col">CADASTRADO</th>
                    <th scope="col">OPÇÕES</th>
                </tr>
            {{#each tutoriais}}
                <tr>
                    <td scope="row">{{id}}</td>
                    <td>{{titulo}}</td>
                    <td>{{autor}}</td>
                    <td>{{categoria}}</td>
                    <td>{{#formatDate createdAt}} {{/formatDate}}</td>
                    <td>
                        <a href="/apresentarTutorial/{{id}}" class="btn btn-sm btn-success"><i class="fa fa-eye"></i> Visualizar</a>
                        <a href="/updateTutorial/{{id}}" class="btn btn-sm btn-warning"><i class="fa fa-pencil"></i>Editar</a>
                        <a href="/deletarTutorial/{{id}}" class="btn btn-sm btn-danger"><i class="fa fa-trash"></i>Excluir</a>
                    </td>
                </tr>
            {{/each}}
            </table> 
            </div>
          {{else}}
          <div class="alert alert-danger" role="alert">
            Não há registros cadastrados
          </div>
          {{/if}}
        </div>
    </div>
<!--https://webdevacademy.com.br/tutoriais/crud-bootstrap-php-mysql-parte3/-->
